---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Acerca de | Adrian Coloma" description="Acerca de Adrian Coloma">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de mí"
				tagline="Lee a continuación para conocer más sobre mí"
			>
				<img
					width="1553"
					height="873"
					src="/assets/Foto de perfil.jpg"
					alt="Adrian Coloma personal image"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Antescedentes</h2>
				<div class="content">
					<p>
						Como profesional del desarrollo de software, 
						he acumulado una valiosa experiencia trabajando en Schlumberger, 
						una destacada empresa en el sector petrolero, desempeñándome como analista de datos. 
						Durante mi tiempo allí, desarrollé habilidades analíticas y adquirí una comprensión profunda de 
						la gestión de datos en un entorno empresarial.
					</p>
					<p>
						Además, he contribuido significativamente al mundo del desarrollo de aplicaciones. 
						He publicado con éxito una aplicación en la Google Play Store, 
						ofreciendo a los usuarios una experiencia única en dispositivos Android. 
						Asimismo, diseñé y desarrollé una aplicación de escritorio destinada a la gestión eficiente de pacientes en el ámbito de la odontología, 
						optimizando los procesos administrativos y mejorando la atención al cliente.
					</p>
					<p>
						Mi capacidad creativa y técnica también se refleja en una aplicación web que he creado, 
						ofreciendo a los usuarios la posibilidad de disfrutar y crear trivias interactivas. 
						Estos proyectos demuestran mi versatilidad y habilidad para abordar desafíos diversos en el desarrollo de software, 
						desde aplicaciones empresariales especializadas hasta soluciones de entretenimiento.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<p>Escuela Politécnica Nacional</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>Desarrollo de aplicaciones móviles, desarrollo web, gestión y análisis de datos</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
